/*
 * Core styling of the website
 */
:root {
    /* main colour of the background, used to match stuff to the bg */
    --main-background-color: rgb(207, 232, 255);
    /* General dimensions we use for the title, this also determines triange sizes on the page */
    --title-sizing: 106px;
    --off-white: rgb(253, 253, 253);
    --font-color: rgb(33, 37, 41);
}

body {
    background-color: var(--main-background-color);
}


header {
    /* creates the triangle shape at the bottom right of the page */
    border-top: var(--title-sizing) solid var(--off-white);
    border-left: var(--title-sizing) solid var(--main-background-color);
    margin-left: calc(-1 * var(--title-sizing));
    margin-right: calc(1 * var(--title-sizing));
    line-height: 0px;
}

main {
    background-color: var(--off-white);
    padding: 10px;
    height: 100%;
    /* creates the triangle shape at the bottom right of the page */
    border-bottom: var(--title-sizing) solid var(--off-white);
    border-right: var(--title-sizing) solid var(--main-background-color);
}

main > :last-child {
    /* removes the space created by the triangle border */
    margin-bottom: calc(-1 * var(--title-sizing));
}

section {
    border-left: 4px solid var(--main-background-color);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 5px;
}

ul {
    padding-left: 30px;
}

li {
    list-style-type: circle;
}


.title {
    margin-top: calc(-1 * var(--title-sizing));
    margin-bottom: 0px;
    background-color: var(--off-white);
    vertical-align: top;
}

.itemdates {
    float: right;
    font-weight: bold;
}

@media (max-width: 800px) {
    .titleborder {
        display: none;
    }
    .title {
        display: block;
        height: auto;
    }
}